<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="/djangoapp">
            <span>Capstone IBM Project</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-between" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/djangoapp/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/djangoapp/contact">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Stylize Registration form -->
<form action="{% url 'djangoapp:registration' %}" method="post">
  <div class="container"> <!--Style root div with .container class -->
    {% csrf_token %}
    <h1>Sign Up</h1>
    <hr>
    <div class="form-group"> <!--Style second div with .form-group class -->
        <label for="username"><b>User Name</b></label>
        <input type="text" class="form-control" placeholder="Enter User Name: " name="username" required> <!--Style input with .form-control class -->
        <label for="firstname"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required> <!--Style input with .form-control class -->
        <label for="lastname"><b>Last Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required> <!--Style input with .form-control class -->
        <label for="psw"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required> <!--Style input with .form-control class -->
        {% if message %}
        <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
            {{ message }}
        </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Sign up</button> <!--Style button with .btn and .btn-primary class -->
    </div>
  </div>
</form>

</body>